pathes/
mj/.settings/
mj/frameworks/
mj/runtime/
mj/.cocos-project.json
mj/.project
mj/config.json
mj/src/cocos/
mj/src/framework/
mj/src/main.lua

*.user
rescatalog*
.DS_Store
*.pyc
*.obj
*.dll
*.lib
*.a
*.so
*.exe
.svn
Data/
*.so
*.pdb
*.win32/
*.VC.db
*.VC.opendb
Simulator.app/

xcuserdata/
simulator/
publish/
gdb.setup
gdbserver



obj/
debug/
bin/
Obj/
Debug/
Bin/
*.suo
*.bak

.pydevproject
.classpath